// Colors

$white: #ffffff;
$night-rider: #303030;
$white-smoke: #F8F8F8;
$matterhorn: #505050;
$black: #000000;
$white-smoke-2: #F0F0F0;
$gainsboro: #DDDDDD;
$gainsboro-2: #DADADA;
$very-light-grey: #C9C9C9;
$nobel: #979797;
$cinnabar: #E24B33;
$half-baked: #5B8A8F;
$porsche: #E1A661;
$paradiso: #43807F;
$cello: #495159;
$white-smoke-3: #F5F5F5;
$gainsboro-3: #D9D9D9;
$cherokee: #F1CB7E;
$flamenco: #EA8C48;
$granny-smith-apple: #A7E492;
$sorbus: #E46942;
$suva-grey: #919191;
$whisper: #E8E7E7;
$suva-grey-2: #8F8F8F;
$light-grey: #D0D0D0;

// Viewports

$descktop-width: 1349px;
$tablet-width: 1023px;
$mobile-width: 767px;
